Django==4.2.0
Pillow==10.0.0
django-crispy-forms==2.0
crispy-bootstrap4==2.0
django-allauth==0.54.0
djangorestframework==3.14.0
python-decouple==3.8
psycopg2-binary==2.9.9
django-celery-results==2.5.0
django-celery-beat==2.5.0
redis==4.5.4
django-import-export==3.3.0
django-simple-history==3.3.0



pip install django-crispy-forms
pip install django
pip install crispy_bootstrap5
pip install djangorestframework
pip install django-import-export
pip install django-simple-history
pip install django-filter
pip install django-cors-headers
pip install mysqlclient